DJANGO_SECRET_KEY="your_key"
DJANGO_DEBUG_MODE=true/false
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost, your_domain
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_HOST=db
DB_PORT=5432